@import 'bootstrap/dist/css/bootstrap';

.search-area {
  padding-top: 2rem;
}

.no-left-padding {
  padding-left: 0 !important;
}

.no-right-padding {
  padding-right: 0 !important;
}

.results-block {
  display: inline-block !important;
  margin-bottom: 1rem;
}

.user-name {
  list-style: none;
  margin-right: 8rem;
  width: 50%;
}

#navbarSupportedContent {
  .navbar-nav.mr-auto {
    width: 100%;
  }
}
